@use 'sass:map';
@use 'variables.scss' as vars;
@use 'functions.scss' as fn;

// TODO usare variables
$form-bg: #333333;
$form-border: rgba(255, 255, 255, 0.1);

form {
  container-type: inline-size;
  min-width: 350px;
  max-width: 50vw;
  margin: map.get(vars.$spacings, max) auto;
  padding: map.get(vars.$spacings, m);
  border-radius: map.get(vars.$spacings, m);
  background: $form-bg;
  border: 1px solid $form-border;
  box-shadow: 0 0 map.get(vars.$spacings, max) rgba(255, 0, 255, 0.15);
  position: relative;
  overflow: hidden;
  animation: fadeIn 0.8s ease forwards;
  display: flex;
  flex-direction: column;
  gap: map.get(vars.$spacings, s);

  .form-field-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: map.get(vars.$spacings, min);
    z-index: 1;

    label {
      padding-left: map.get(vars.$spacings, min);
      text-transform: uppercase;
    }

    &:has(input[type='checkbox']) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    li {
      color: fn.color(semantic, error);
      text-shadow: 0 0 map.get(vars.$spacings, s) fn.color(semantic, error);
      list-style: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
