@use 'functions.scss' as fn;
@use 'mixins.scss' as mx;

form {
  container-type: inline-size;
  min-width: 350px;
  max-width: 50vw;
  margin: fn.spacing(max) auto;
  padding: fn.spacing(m);
  border-radius: fn.radius(f);
  background: fn.color(grayscale, 60);
  border: 1px solid rgba(fn.color(grayscale, white), 0.1);
  position: relative;
  overflow: hidden;
  @include mx.animate-fade-in(fn.duration(fast), ease, forwards);
  display: flex;
  flex-direction: column;
  gap: fn.spacing(s);

  .form-field-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: fn.spacing(min);

    label {
      padding-left: fn.spacing(min);
      text-transform: uppercase;
    }

    &:has(input[type='checkbox']) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    li {
      color: fn.color(semantic, error);
      text-shadow: 0 0 fn.spacing(s) fn.color(semantic, error);
      list-style: none;
    }
  }
}

@include mx.has-min-width('tablet-lg') {
  form {
    max-width: 30vw;
  }
}
