$modes: (
  light: (
    background,
    surface,
    text-light,
    text-base,
    text-dark,
    border,
  ),
  dark: (
    background,
    surface,
    text-light,
    text-base,
    text-dark,
    border,
  ),
);
