@use 'sass:map';
@use 'variables.scss' as vars;

$min: map.get(vars.$spacing, min);
$xxs: map.get(vars.$spacing, xxs);
$xs: map.get(vars.$spacing, xs);
$xsp: map.get(vars.$spacing, xsp);
$s: map.get(vars.$spacing, s);
$m: map.get(vars.$spacing, m);
$l: map.get(vars.$spacing, l);
$lp: map.get(vars.$spacing, lp);
$xl: map.get(vars.$spacing, xl);
$xlp: map.get(vars.$spacing, xlp);
$xxl: map.get(vars.$spacing, xxl);
$ul: map.get(vars.$spacing, ul);
$max: map.get(vars.$spacing, max);
