@use "functions.scss" as fn;

$status-colors: (
  COSTS_ACCEPTED: fn.color(semantic, warning),
  REVENUES_ACCEPTED: fn.color(semantic, warning),
  HIP_WIP: fn.color(semantic, warning),
  COSTS_DENIED: fn.color(semantic, error),
  REVENUES_DENIED: fn.color(semantic, error),
  APPRAISALS_KO: fn.color(semantic, error),
  FEERE_DENY: fn.color(semantic, error),
  HIP_KO: fn.color(semantic, error),
  REVENUES_LOST: fn.color(semantic, error-dark),
  HIP_ACCEPTED: fn.color(primary, base),
  COSTS_COMPLETED: fn.color(primary, base),
  REVENUES_COMPLETED: fn.color(primary, base),
  COSTS_APPROVED: fn.color(semantic, success),
  REVENUES_APPROVED: fn.color(semantic, success),
  HIP_OK: fn.color(semantic, success),
  FEERE_APPROVED: fn.color(semantic, success),
  FEERE_NEW: fn.color(service, filler),
  COSTS_WIP: fn.color(service, filler),
  REVENUES_WIP: fn.color(service, filler),
  APPRAISALS_APPROVING: fn.color(service, filler),
  APPRAISALS_NEW: fn.color(service, filler),
  APPRAISALS_WIP: fn.color(service, filler),
  APPRAISALS_REV: fn.color(service, filler),
  APPRAISALS_SUSPENDED: fn.color(service, filler),
  APPRAISALS_FU_RE_TODO: fn.color(service, filler),
  APPRAISALS_FU_AM_RE: fn.color(service, filler),
  APPRAISALS_FU_RE_WIP: fn.color(service, filler),
  APPRAISALS_SEND: fn.color(service, filler),
  APPRAISALS_DRAFT: fn.color(service, filler),
  APPRAISALS_DRAFT_NOCOMS: fn.color(service, filler),
  APPRAISALS_DRAFT_NOSP: fn.color(service, filler),
  APPRAISALS_OK_NO_SP: fn.color(service, filler),
  APPRAISALS_OK_SP: fn.color(service, filler)
);
