@use 'functions.scss' as fn;

$modes: (
  light: (
    background,
    surface,
    text-light,
    text-base,
    text-dark,
    border,
  ),
  dark: (
    background,
    surface,
    text-light,
    text-base,
    text-dark,
    border,
  ),
);

$themes: (
  blue: (
    primary,
    base,
    pale,
    light,
    dark,
  ),
  green: (
    semantic,
    success,
    success-pale,
    success-light,
    success-dark,
  ),
  orange: (
    functional,
    functional2,
    functional2-pale,
    functional2-light,
    functional2-dark,
  ),
  red: (
    semantic,
    error,
    error-pale,
    error-light,
    error-dark,
  ),
  purple: (
    functional,
    functional1,
    functional1-pale,
    functional1-light,
    functional1-dark,
  ),
  cyan: (
    semantic,
    info,
    info-pale,
    info-light,
    info-dark,
  ),
  yellow: (
    semantic,
    warning,
    warning-pale,
    warning-light,
    warning-dark,
  ),
  default: (
    grayscale,
    50,
    30,
    40,
    70,
  ),
);
