@use "mixins.scss" as mx;

h1 {
  @include mx.fluid-type(5);
  font-weight: 700;
}

h2 {
  @include mx.fluid-type(4);
  font-weight: 700;
}

h3 {
  @include mx.fluid-type(3);
  font-weight: 600;
}

h4 {
  @include mx.fluid-type(2);
  font-weight: 600;
}

h5 {
  @include mx.fluid-type(1);
  font-weight: 500;
}

h6,
label,
button {
  @include mx.fluid-type(0);
  font-weight: 500;
}

p,
li,
span {
  @include mx.fluid-type(0);
}

small {
  @include mx.fluid-type(-1);
}

::placeholder {
  @include mx.fluid-type(0);
}
