@use 'sass:map';
@use 'sass:math';

$app-prefix: mik;
$base-unit: 1rem;

// Colors
$grayscale-colors: (
  10: #f6f6f6,
  20: #e3e3e3,
  30: #cccccc,
  40: #b3b3b3,
  50: #808080,
  60: #4d4d4d,
  70: #333333,
  80: #1a1a1a,
  black: #000000,
  white: #ffffff,
);

$functional-colors: (
  accent-pale: #e6f7ff,
  accent-light: #80d8ff,
  accent: #00b1ff,
  accent-dark: #00a1e8,
  functional1-pale: #f5edff,
  functional1-light: #cba3ff,
  functional1: #9747ff,
  functional1-dark: #8941e8,
  functional2-pale: #fef1e6,
  functional2-light: #fab780,
  functional2: #f56e00,
  functional2-dark: #df6400,
);

$primary-colors: (
  pale: #f4f5ff,
  light: #8f9eff,
  base: #1e3cff,
  dark: #1b37e8,
);

$semantic-colors: (
  error-pale: #faeaec,
  error-light: #e794a2,
  error: #ff4b4b,
  error-dark: #bc243f,
  info-pale: #e6f7ff,
  info-light: #94dce6,
  info: #28cde3,
  info-dark: #24bbcf,
  success-pale: #eafaf0,
  success-light: #94e7b2,
  success: #28cf64,
  success-dark: #24bc5b,
  warning-pale: #fff8e6,
  warning-light: #fad880,
  warning: #f4b000,
  warning-dark: #dea000,
);

$service-colors: (
  filler: #646464,
  transparent: #0000,
  background: #dce6ed,
  overlay: rgba(0 0 0 / 50%),
);

$colors: (
  functional: $functional-colors,
  grayscale: $grayscale-colors,
  primary: $primary-colors,
  semantic: $semantic-colors,
  service: $service-colors,
);

// Spacings
$spacing: (
  min: var(--space-1),
  xs: var(--space-2),
  s: var(--space-3),
  m: var(--space-4),
  l: var(--space-5),
  xl: var(--space-6),
  ul: var(--space-7),
  max: var(--space-8),
);

// Font sizes
$font-sizes: (
  -2: var(--step--2),
  -1: var(--step--1),
  0: var(--step-0),
  1: var(--step-1),
  2: var(--step-2),
  3: var(--step-3),
  4: var(--step-4),
  5: var(--step-5)
);

// Radius
$radius: (
  a: 0.125 * $base-unit,
  b: 0.25 * $base-unit,
  c: 0.375 * $base-unit,
  d: 0.5 * $base-unit,
  e: 0.75 * $base-unit,
  f: 1.5 * $base-unit,
);

// Elevations
$elevation-color: var(--#{$app-prefix}-primary-light-color, map.get($primary-colors, light));
$elevations: (
  0 ($base-unit * 0.125) ($base-unit * 0.25) 0
    color-mix(in srgb, var(--#{$app-prefix}-elevation-color), transparent 84%),
  0 ($base-unit * 0.25) ($base-unit * 0.5) 0
    color-mix(in srgb, var(--#{$app-prefix}-elevation-color), transparent 84%),
  0 ($base-unit * 0.375) ($base-unit * 0.75) 0
    color-mix(in srgb, var(--#{$app-prefix}-elevation-color), transparent 76%),
  0 ($base-unit * 0.5) ($base-unit * 1.5) 0
    color-mix(in srgb, var(--#{$app-prefix}-elevation-color), transparent 68%)
);

// Durations
$durations: (
  very-fast: 0.2s,
  fast: 0.4s,
  normal: 0.6s,
  slow: 0.8s,
  very-slow: 1s,
);
