@use 'variables.scss' as vars;
@use 'functions.scss' as fn;
@use 'mixins.scss' as mx;
@use 'theme-colors.scss' as themes;
@use 'keyframes.scss';
@use 'sass:list';

$scrollbar-thickness: 8px;

:root {
  // font-sizes
  --step--2: clamp(0.434rem, 0.3496rem + 0.3754cqi, 0.8rem);
  --step--1: clamp(0.5208rem, 0.4103rem + 0.4915cqi, 1rem);
  --step-0: clamp(0.625rem, 0.4808rem + 0.641cqi, 1.25rem);
  --step-1: clamp(0.75rem, 0.5625rem + 0.8333cqi, 1.5625rem);
  --step-2: clamp(0.9rem, 0.657rem + 1.0801cqi, 1.9531rem);
  --step-3: clamp(1.08rem, 0.7658rem + 1.3963cqi, 2.4414rem);
  --step-4: clamp(1.296rem, 0.8908rem + 1.8008cqi, 3.0518rem);
  --step-5: clamp(1.5552rem, 1.0338rem + 2.3174cqi, 3.8147rem);

  // spacings
  --space-1: clamp(0.25rem, 0.18rem + 0.3cqi, 0.5rem);
  --space-2: clamp(0.5rem, 0.36rem + 0.6cqi, 1rem);
  --space-3: clamp(0.75rem, 0.54rem + 0.9cqi, 1.5rem);
  --space-4: clamp(1rem, 0.72rem + 1.2cqi, 2rem);
  --space-5: clamp(1.25rem, 0.9rem + 1.5cqi, 2.5rem);
  --space-6: clamp(1.5rem, 1.08rem + 1.8cqi, 3rem);
  --space-7: clamp(1.75rem, 1.26rem + 2.1cqi, 3.5rem);
  --space-8: clamp(2rem, 1.44rem + 2.4cqi, 4rem);

  @each $section, $bundle in vars.$colors {
    @each $name, $color in $bundle {
      #{fn.color-var-name($section, $name)}: $color;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-image: url('../src/app/assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  width: 100%;
  height: 150vh;
  padding: fn.spacing(xs);
  font-family: GT-America, IBM Plex Sans, system-ui, sans-serif;

  &::-webkit-scrollbar {
    width: $scrollbar-thickness;
    cursor: pointer;
  }

  &::-webkit-scrollbar:horizontal {
    height: $scrollbar-thickness;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: calc($scrollbar-thickness / 2);
  }
}

// Theming
@each $theme-name, $theme-values in themes.$themes {
  $section: list.nth($theme-values, 1);
  $base: list.nth($theme-values, 2);
  $pale: list.nth($theme-values, 3);
  $light: list.nth($theme-values, 4);
  $dark: list.nth($theme-values, 5);

  body.#{'' + $theme-name} {
    color: fn.color($section, $base);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    pre,
    label {
      text-shadow: 0 0 10px fn.color($section, $base), 0 0 0 fn.color($section, $base);
    }

    input {
      // text & email
      &[type='text'],
      &[type='email'] {
        color: fn.color($section, $pale);

        &:focus,
        &:focus-visible {
          border-color: fn.color($section, $base);
          box-shadow: 0 0 20px fn.color($section, $base),
            inset 0 0 10px rgba(fn.color($section, $dark), 0.4);
        }
      }
      &[type='checkbox'] {
        border: 2px solid fn.color($section, $base);
        box-shadow: 0 0 fn.spacing(s) rgba(fn.color($section, $dark), 0.2);

        &:hover {
          box-shadow: 0 0 fn.spacing(xl) fn.color($section, $base);
        }

        &:checked {
          background: linear-gradient(135deg, fn.color(grayscale, 60), fn.color($section, $base));
          box-shadow: 0 0 fn.spacing(l) fn.color(grayscale, 60), 0 0 50px fn.color($section, $base);
          border: 2px solid fn.color($section, $base);
        }
      }
    }

    button {
      color: fn.color($section, $pale);
      text-shadow: 0 0 fn.spacing(xs) fn.color($section, $base);
      background: linear-gradient(135deg, fn.color(grayscale, 60), fn.color($section, $base));

      &:hover {
        box-shadow: 0 0 fn.spacing(s) fn.color(grayscale, 60),
          0 0 fn.spacing(m) fn.color($section, $base);
      }
    }

    &::-webkit-scrollbar-track {
      background-color: fn.color($section, $pale);
    }

    &::-webkit-scrollbar-thumb {
      background-color: fn.color($section, $base);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: fn.color($section, $dark);
    }
  }
}

// Inputs
input {
  // text & email
  &[type='text'],
  &[type='email'] {
    width: 100%;
    padding: fn.spacing(s) fn.spacing(m);
    background: fn.color(grayscale, 80); // TODO tema chiaro/scuro
    border: 1px solid rgba(fn.color(grayscale, white), 0.1);
    border-radius: fn.radius(d);
    transition: all fn.duration(fast) ease;
    box-shadow: inset 0 0 fn.spacing(xs) rgba(fn.color(grayscale, black), 0.6);

    &:focus,
    &:focus-visible {
      outline: none;
      transform: scale(1.02);
    }
  }

  // Checkbox
  &[type='checkbox'] {
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: fn.radius(c);
    background: fn.color(grayscale, 80); // TODO tema chiaro/scuro
    cursor: pointer;
    position: relative;
    transition: all fn.duration(fast) ease;

    &:hover {
      transform: scale(1.1);
    }

    &:checked {
      border-color: transparent;
      transform: scale(1.15);

      &::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 6px;
        width: 5px;
        height: 10px;
        border: solid fn.color(grayscale, white);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        @include mx.animate-checkmark-pop();
        filter: drop-shadow(0 0 6px fn.color(grayscale, white));
      }
    }
  }
}

// Button
button {
  width: 100%;
  padding: fn.spacing(s) 0;
  border: none;
  border-radius: fn.radius(f);
  cursor: pointer;
  transition: all fn.duration(fast) ease;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(fn.color(grayscale, white), 0.3),
      transparent
    );
    transition: all fn.duration(fast) ease;
  }

  &:hover {
    transform: translateY(-2px) scale(1.03);

    &::before {
      left: 100%;
    }
  }

  &:disabled {
    background: rgba(fn.color(grayscale, white), 0.1);
    color: rgba(fn.color(grayscale, white), 0.3);
    cursor: not-allowed;
    box-shadow: none;
  }
}

// Lists
ul,
ol {
  padding-left: fn.spacing(xs);

  li {
    @include mx.animate-slide-right();
  }
}
